<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<div class="container my-2">
    <br><br>
    <div class="container text-center">
        <div sec:authorize="isAuthenticated()">
            Welcome <b><span sec:authentication="name">Username</span></b>
            <br>
            Role(s): <span sec:authentication="principal.authorities">Roles</span>
            <br>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </div>
        <br><br>
        <a th:href="@{/messages}" class="btn btn-primary btn-sm mb-3">Return to chat</a>
    </div>

    <br><br>
    <div th:if="${not #lists.isEmpty(allUsers)}">
        <h1>Users</h1>
        <table border="1" class="table table-striped table-responsive-md">
            <tr>
                <th>№</th>
                <th sec:authorize="hasAnyAuthority('ADMIN')">id</th>
                <th>Username</th>
                <th>E-mail</th>
                <th sec:authorize="hasAnyAuthority('ADMIN')">Role(s)</th>
                <th sec:authorize="hasAnyAuthority('ADMIN')">Enable</th>
                <th sec:authorize="hasAnyAuthority('ADMIN')">Actions</th>
            </tr>

            <tr th:each="User, temp : ${allUsers}">
                <th th:text="${temp.count}"></th>
                <td sec:authorize="hasAnyAuthority('ADMIN')" th:text="${User.getId()}"></td>
                <td th:text="${User.getUsername()}"></td>
                <td th:text="${User.getEmail()}"></td>
                <td sec:authorize="hasAnyAuthority('ADMIN')" th:text="${User.getRoles()}"></td>
                <td sec:authorize="hasAnyAuthority('ADMIN')" th:text="${User.isEnabled()}"></td>
                <td sec:authorize="hasAnyAuthority('ADMIN')">
                    <a th:href="@{/users/update{id}(id=${User.getId()})}" class="btn btn-primary">Edit</a>
                    <a th:href="@{/users/delete{id}(id=${User.getId()})}" class="btn btn-danger">X</a>
                </td>
            </tr>
        </table>
    </div>
</div>


</body>
</html>